/* CSS Variables to Define Colour Scheme */
:root {
    --primary-color: #2c3e50; /* Dark Blue */
    --secondary-color: #3498db; /* Bright Blue */
    --accent-color: #e74c3c; /* Red */
    --text-color: #333; /* Dark Grey */
    --background-color: #f5f5f5; /* Light Grey */
}
.container {
    height: 100vh;
    /* full viewport height */
    width: 80vw;
    /* 80% of viewport width */
    margin: 0 auto;
}

/* Larger screens (e.g., tablets or desktops) */
@media (min-width: 768px) {
    .container {
        width: 60vw;
    }
}
